################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Registration/FileContentIndex/ed9f92a2-5e72-404c-9bb6-0bd03dfa3a6c.vsidx
