@if (Request.IsAuthenticated)
{
    <ul>
        <li class="navbar-text">Hello, @ViewBag.Message</li>
        <li>@Html.ActionLink("Sign out", "SignOut", "Authen")</li>
    </ul>
}
else
{
    <ul>
        <li class="navbar-text">Hello, @ViewBag.Message</li>
        <li>@Html.ActionLink("Sign in", "SignIn", "Authen", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}